*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.3),rgb(0, 0, 0)),url(images/header-bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 60px;
    position: relative;
}
#map-icon{
    width: 30px;
}
#search-icon{
    width: 12px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.play-btn{
    display: inline-block;
    transition: transform .5s;
    cursor: pointer;
}
.play-btn:hover{
    transform: scale(1.2);
}

nav .fa{
    display: none;
}

/* Explore the world section  */

.explore{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    background-color: rgb(0, 0, 0);
}
h1{
    color: #fff;
    font-weight: 600;
    font-size: 36px;
}
p{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.explore-column{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.explore-column img{
    width: 100%;
    display: block;
}
.layer{
    background: linear-gradient(rgba(4,9,30,0.2),rgba(0, 0, 0, 0.93));
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: linear-gradient(rgba(4,9,30,0),rgba(0, 0, 0, 0));
    cursor: pointer;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0.8;
    transition: 0.5s;
}
.layer p{
    width: 100%;
    font-weight: 500;
    color: #fff;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0.7;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 50%;
    opacity: 1;
}
.layer:hover p{
    bottom: 43%;
    opacity: 1;
}
.explore a{
    color: rgb(55, 49, 145);
    text-decoration: none;
    font-size: 16px;
}

/* The journal section  */

.journal{
    background-color: black;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.journal-column{
    flex: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}
.journal-column img{
    width: 95%;
    border-radius: 10px;
}
.journal-column h6{
    margin-top: 16px;
    margin-bottom: 15px;
    color: #fff;
    padding: 0;
}
.journal-column h3{
    color: #fff;
    padding: 0;
}
.journal a{
    color: rgb(55, 49, 145);
    text-decoration: none;
    font-size: 16px;
}

/* footer  */

.footer{
    background-image: linear-gradient(rgba(4,9,30,0.3),rgb(0, 0, 0)),url(images/header-bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    padding: 30px 0;
    min-height: 100vh;
} 
.footer ul li{ 
    text-align: center;
    list-style: none;
    color: #fff;
    position: absolute;
    bottom: 3%;
    left: 25%;
    cursor: pointer;
}
#copyright-img{
    width: 15px;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    #map-icon{
        width: 15px;
    }
    #search-icon{
        width: 7px;
    }
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 2px 3px;
        position: relative;
    }
    .nav-links ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 9px;
    }
}